#box {
    margin-left: -160px;
    background-color: green;
    height: 35px;
    width: 150px;
    position: absolute;
    z-index: 1;
}

#f0 {
    margin-left: -140px;
    margin-top: 1px;
    font-weight: bold;
    font-family: Arial;
    font-size: 25px;
    color: white;
    position: absolute;
    z-index: 2;
}

.Controls {
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 15px;
    width: 360px;
    font-family: arial;
    border-radius: 12px;
}

#updtpBtn {
    margin-left: 2ex;
}

.Controls input {
    margin-top: 1ex;
    width: 350px;
}

.Controls span {
    margin-left: 130px;
    cursor: pointer;
    color: white;
}