#box {
    margin-left: -160px;
    background-color: green;
    height: 35px;
    width: 150px;
    position: absolute;
    z-index: 1;
}

#f0 {
    margin-left: -140px;
    margin-top: 1px;
    font-weight: bold;
    font-family: Arial;
    font-size: 25px;
    color: white;
    position: absolute;
    z-index: 2;
}